<div id="map"></div>

<div id="floating-panel">

    <b>Start: </b>
    <select id="start">
      
      <option value="40.3932613, -3.6991178">IronHack</option>
      
    </select>
    <b>End: </b>

    <select id="end">
		{{#each tuppers}}
		<option value={{this.user.location.coordinates}}>{{this.user.username}}</option>
		{{/each}}	
    </select>
    {{#each tuppers}}
    <ul>
      {{#if this.user.isCooker}}
      <li>
        <p>{{this.user.username}}</p>
        <p>{{this.tuppername}}</p>
        <p>{{this.price}}</p>
        <p><a href="">Delete</a></p>
      </li>
      {{else}}
      <li>
        <p>{{this.user.username}}</p>
        <p>{{this.tuppername}}</p>
        <p>{{this.price}}</p>
      </li>
      {{/if}}
    </ul>
     {{/each}}
<script>
  window.tuppers = {{{ tupperStr }}}
</script>

<script src="/javascripts/listMap.js"></script>