<div class="container-main">
{{#if user}}
<ul>
  <li>
    <h5>Username: {{user.username}}</h5>
    <h6>Address: {{user.address}}</h6>
  </li>
</ul>
{{/if}}


{{#if tupper}}

<ul>

  <li>
    <p>Tupper´s name: {{tupper.tuppername}}</p>
    <p>Price: {{tupper.price}}€</p>
    <p>Quantity: {{tupper.quantity}} tuppers</p>
  </li>

</ul>
<button type="submit" class="btn btn-link orange orange-link">
  <a class="orange-link" href="/tupper">Go to Map</a>
</button>
{{/if}}
</div>